<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <filter>
    <filter-name>allFilter</filter-name>
    <filter-class>com.lovo.filter.allFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>allFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>oneServlet</servlet-name>
    <servlet-class>com.lovo.servlet.oneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>isNameServlet</servlet-name>
    <servlet-class>com.lovo.servlet.isNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>insertKQServlet</servlet-name>
    <servlet-class>com.lovo.servlet.insertKQServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>messageServlet</servlet-name>
    <servlet-class>com.lovo.servlet.messageServlet</servlet-class>
  </servlet>
    <servlet>
        <servlet-name>fileServlet</servlet-name>
        <servlet-class>com.lovo.servlet.fileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imgServlet</servlet-name>
        <servlet-class>com.lovo.servlet.imgServlet</servlet-class>
    </servlet>
  <servlet-mapping>
    <servlet-name>imgServlet</servlet-name>
    <url-pattern>/imageServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>fileServlet</servlet-name>
    <url-pattern>/file</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>messageServlet</servlet-name>
    <url-pattern>/message</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>insertKQServlet</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>isNameServlet</servlet-name>
    <url-pattern>/isName</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>oneServlet</servlet-name>
    <url-pattern>/one</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.lovo.listenner.MyContextListener</listener-class>
  </listener>
</web-app>
